@using EnqueteWeb.Models;
@model IEnumerable<RespostaUsuario>;

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <h1>Enquete Web!</h1>
    <h2>Resultado Parcial</h2>
    <hr>
    <h4>Você teria coragem de fazer uma viagem sem volta para Marte?</h4>
    <hr>
    @foreach (var item in Model)
    {
        <p>@item.Nome -- @(item.Sim.Value ? "Sim" : "Não")</p>
    }
</body>
</html>